<%- include('./_partial/header') %>
  <template id="alert-template">
    <div class="alert col s12 m6 l4">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title">Room 103</span>
          <h6 class='name' >Linda J. Earl</h6>
          <p class='update'>2017/5/5 12:45</p>
        </div>
        <div class="card-action">
          <a href="#">More</a>
        </div>
      </div>
    </div>
  </template>

  <div class='content'>
    <div id="alert-list" class="row"></div>
  </div>
