<%- include('./_partial/header') %>
  <template id="alert-template">
    <div class="alert col s12 m6 l4">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title">Room 103</span>
          <h6 class='name' >Linda J. Earl</h6>
          <p class='update'>2017/5/5 12:45</p>
        </div>
        <div class="card-action">
          <a href="#">More</a>
        </div>
      </div>
    </div>
  </template>

  <div class='content'>
    <!-- <h1><%= title %></h1> -->
    <div class="row">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s4"><a class="active" href="#test-swipe-1"><span class="new badge">3</span>Fall</a></li>
        <li class="tab col s4"><a class="active" href="#test-swipe-2"><span class="new badge">1</span>Intrusion</a></li>
        <li class="tab col s4"><a href="#test-swipe-3"><span class="new badge">1</span>Activity</a></li>
      </ul>
      <div id="test-swipe-1" class="col s12">
        <!-- js append childs into this div -->
        <div id="alert-list" class="row"></div>
      </div>
      <div id="test-swipe-2" class="col s12">
        <div id="intrusion-list" class="row">
          <div class="intrusion col s12 m6 l4">
            <div class="card blue darken-2">
              <div class="card-content white-text">
                <span class="card-title">Room 103</span>
                <h6 class='name' >Linda J. Earl</h6>
                <p class='update'>2017/5/5 12:45</p>
              </div>
              <div class="card-action">
                <a href="/rooms/103">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="test-swipe-3" class="col s12">
        <div id="activity-list" class="row">
          <div class="alert col s12 m6 l4">
            <div class="card red darken-4">
              <div class="card-content white-text">
                <span class="card-title">Room 103</span>
                <h6 class='name' >Linda J. Earl</h6>
                <p class='update'>2017/5/5 12:45</p>
              </div>
              <div class="card-action">
                <a href="/rooms/103">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
