<%- include('./_partial/header') %>
  <!-- Template for an alert -->
  <template id="alert-template">
    <div class="alert col s4">
      <div class="incident red darken-4">
        <img src="/images/movement.png" width="48px" height="48px" />
        <span class="room-number">101</span>
      </div>
    </div>
  </template>

  <template id="event-template">
    <div class="event col s12 event">
      <img src="/images/movement.png" width="48px" height="48px" />
      <span class="event-title">101</span>
    </div>
  </template>

    <div class="row main">
      <div class="col s12 m8 full">
        <div class="activities">
          <!-- Alerts will be added -->
          <div id="alert-list" class="row"></div>
        </div>
      </div>
      <div class="col s12 m4 full">
        <div class="events">
          <!-- Events will be added -->
          <div id="event-list" class="row"></div>
        </div>
      </div>
    </div>
  </div>

  </div> <!-- wrapper -->
  </body>
</html>
