<%- include('./_partial/header') %>
  <div class='content'>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/login">login</a></li>
      <li><a href="/rooms">rooms</a></li>
      <li><a href="/alerts">alerts</a></li>
    </ul>
  </div>
<%- include('./_partial/footer') %>
