<%- include('./_partial/header') %>
  <div class="content">
    <form action="/login" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="id" name="username" type="text" class="validate">
          <label for="id">ID</label>
        </div>
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

        <div class="input-field col s12">
          <input class="btn waves-effect waves-light" type="submit" value="Login" />
        </div>
      </div>
    </form>
  </div>
<%- include('./_partial/footer') %>
