<%- include('./_partial/header') %>
  <div class="content">
    <table class="bordered">
      <thead>
        <tr>
            <th>Room No</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><a href="/rooms/101">101</a></td>
          <td>Yuki Takeda</td>
          <td>Normal</td>
        </tr>
        <tr>
          <td>102</td>
          <td>Joey Ho Nihei</td>
          <td>Fall</td>
        </tr>
        <tr>
          <td>103</td>
          <td>Ryonosuke Ono</td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>
  </div>
<%- include('./_partial/footer') %>
