<%- include('./_partial/header') %>
  <div class="content">
    <h1>Room <%= roomNumber %></h1>

    <table class="stripe">
      <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>2017/4/10 10:11</td>
          <td>Fall</td>
        </tr>
        <tr>
          <td>2017/4/3 11:20</td>
          <td>Fall</td>
        </tr>
        <tr>
          <td>2017/4/1 15:30</td>
          <td>Fall</td>
        </tr>
      </tbody>
    </table>

  </div>
<%- include('./_partial/footer') %>
