<%- include('./_partial/header') %>
  <script>
    setTimeout("location.reload()", 1000);
  </script>
  <div class="content">
    <table class="bordered">
      <thead>
        <tr>
            <th>Room No</th>
            <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><a href="/rooms/101">101</a></td>
          <td>Yuki Takeda</td>
        </tr>
      </tbody>
    </table>
  </div>
<%- include('./_partial/footer') %>
