    <footer id="footer" class="page-footer blue darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="white-text">© 2016-2017 Team in motion</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

