<nav id="header">
  <div class="nav-wrapper blue darken-2">
    <a href="#" class="brand-logo">FIMconnect</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/alerts">Alerts</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
