<nav id="header">
  <div class="nav-wrapper tarkett-blue">
    <!-- <a href="/" class="brand-logo">FIMconnect</a> -->
    <img src="/images/title.png" height="100%" style="padding: 5px 5px 5px 20px">
  </div>
</nav>
