<nav id="header">
  <div class="nav-wrapper tarkett-blue">
    <!-- <a href="/" class="brand-logo">FIMconnect</a> -->
    <img src="/images/title.png" height="100%" style="padding: 5px 5px 5px 20px">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/rooms">Logbook</a></li>
    </ul>
  </div>
</nav>
